/* Allgemeine Stile */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Hintergrundfarbe für positive Uhka Karten */
body.uhka-card-positive {
  background-color: #d9f6dc; /* Sanftes Grün */
}

/* Hintergrundfarbe für negative Uhka Karten */
body.uhka-card-negative {
  background-color: #f9d6db; /* Sanftes Rot */
}

/* Stil der Karte */
.card {
  width: 63mm;
  height: 88mm;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #000;
}

/* Farbe für positive Karten */
.card.positive {
  background-color: #b5e7b5; /* Kräftiges Grün */
  color: #000;
}

/* Farbe für negative Karten */
.card.negative {
  background-color: #f4b2b2; /* Kräftiges Rot */
  color: #000;
}

/* Textformatierung */
.card h2 {
  margin: 0;
  font-size: 1.5em;
}

.card p {
  margin: 10px 0 0;
  font-size: 1em;
}

/* Hintergrundfarbe für Onni Karten */
body.onni-card {
  background-color: #d8eefe; /* Sanftes Blau für den Hintergrund */
}

/* Stil der Karte */
.card {
  width: 63mm;
  height: 88mm;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #000;
}

/* Spezifikationen für Onni Karten */
.card.onni {
  background-color: #b2d4f9; /* Kräftigeres Blau für die Karte */
  color: #000;
}

/* Textformatierung */
.card h2 {
  margin: 0;
  font-size: 1.5em;
}

.card p {
  margin: 10px 0 0;
  font-size: 1em;
}

/* Allgemeine Stile für die Startseite */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #2d3748; /* Dunkles Grau für den Hintergrund */
}

/* Header - "Onni Games" */
header {
  color: #e53e3e; /* Rotes Onni Games */
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Stil der Buttons auf der Startseite */
button {
  background-color: #e53e3e; /* Rotes Dunkel für den Button */
  color: white;
  font-size: 1.5em;
  padding: 20px 50px;
  margin-top: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c53030; /* Dunkleres Rot bei Hover */
}
